
* {
    margin: 0;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
body{
    background-color: rgba(112, 112, 218, 0.461);
    font-family: fantasy;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 5s;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

    /* Mon header */
    /* Ma barre de navitation */
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1em;
        margin-left: 2em;
        margin-right: 2em;
    }

    .nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav li {
        margin-left: 30px;
    }

    .nav a {
        text-decoration: none;
    }

    .nav p {
        margin: 0;
    }

    .nav li:first-child {
        margin-left: auto;
    }

    .nav li:last-child {
        margin-left: auto;
    }

    /* Mon h1 */

    h1 {
        text-align: center;
        margin-top: 1em;
    }

    /* Mon main */
    #filtre {
        margin-left: 3em;
        margin-bottom: -2em;
    }
    
   /* Input recherche */
    #recherche {
        margin-left: 4.2em;
        width: 20%;
        border-radius: 5px;
        margin-bottom: -2em;
    }


    #categorie {
        border-radius: 5px;
        position: relative;
        top: 2em;
        left: -24.5em;
    }

    #option {
        margin-left: 1em;
        width: 15%;
        position: relative;
        top: 2.2em;
        left: -29em;
    }

    /* Bouton rechercher */
    #option {
        margin-left: 1em;
        width: 15%;
        display: inline-block;
        vertical-align: bottom;
    }

    button {
        height: 5em;
        width: 20%;
        vertical-align: bottom;
        margin-left: 10em;
        position: relative;
        left: -25em;
        top: 2.2em;
    }

    /* Mes deux cards */
    .card {
        display: flex;
        width: 30%;
        margin: 20px;
        margin-left: 3.5em;
        padding: 20px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .card-container {
        margin-top: 4em;
        display: flex;
        flex-wrap: wrap;
    }

    .card img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-right: 20px;
        border-radius: 5px;
    }

    .card-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-title {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        text-decoration: underline;
    }

    .prix,
    .finenchere,
    .vendeur {
        font-size: 18px;
        margin: 5px 0;
    }

    #priceEtClassement {
        display: flex;
    }

    .card-classement {
        margin-left: 5.5em;
    }


    .vendeur {
        margin-top: auto;
    }

@media screen and (max-width: 375px) {
    #afpa {
        margin-bottom: 0.75em;
    }

    .nav {
        flex-direction: column;
        float: left;
    }

    .nav a {
        display: block;
    }

    /* On supprime le h1 */
    h1 {
        display: none;
    }

    /* Réduire la taille de la police de la section Filtres */
    #filtre {
        font-size: 18px;
        margin-top: 5em;
        margin-bottom: 2em;
        margin-left: 0.80em;
    }

    /* Centrer la liste déroulante des catégories */
    #categorie {
        display: block;
        margin: 0 auto;
        margin-left: 20.5em;
        margin-top: -5em;
        width: 300%;
        margin-bottom: 0.5em;
    }
    #option {
        position: relative;
        left: 8em;
        top: -1.6em;
        width: 60%;
        margin-bottom: -2em;
    }
    /* Recherche d'un article */
    #recherche {
        width: 88%;
        margin-left: 1.20em;
    }

    /* Centrer le bouton de recherche */
    button[type="submit"] {
        display: block;
        width: 90%;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 26em;
    }

    /* Afficher les cartes en colonne */
    .card {
        display: block;
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 1em;
    }

    /* Centrer les titres des cartes */
    .card-title {
        margin-top: -0.2em !important;
        font-size: 20px;
        font-weight: bold;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 0.5em;
    }

    /* Centrer les autres informations des cartes */
    .card-details {
        display: block;
        margin: 0 auto;
        padding: 20px;
        margin-left: 7em;
        margin-top: -9em;
    }
    
    /* modification de la taille de mes images */
    .card img {
        width: 100px;
        height: 120px;
    }
    
    .card-title {
        font-size: 16px;
        margin-left: -1em;
        margin-top: 1em;
        text-decoration: underline;
        margin-bottom: -0.1em;
    }

    .card-price {
        margin-bottom: 0.5em;
    }

    #priceEtClassement{
        font-size: 14px;
        display: flex;
        width: 200%;
    }

    .card-classement {
        margin-left: 4em;
    }


    .card-auction-end {
        margin-bottom: 0.5em;
        font-size: 14px;
    }
    .card-retrait {
        font-size: 14px;
        margin-bottom: 1.5em;
    }

    .card-seller {
        margin-bottom: -1em;
        font-size: 14px;
    }

}