@charset "UTF-8";
header{
height: 25vh;
}

body{
    background-color: rgba(112, 112, 218, 0.461);
    font-family: fantasy;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 5s;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#titre, a{
    margin: 4%;
    height: 20vh;
    text-decoration: none;
    color: black;
    font-size: large;
}

#affich{
    width: 30vw;
    height: 45vh;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    font-size: 180%;


}
form{
    height: 10vh;
    width: 90vw;
}

#afpa:after{
    content: "";
    display: block;
    transition: 0.25s cubic-bezier(0.72, -0.01, 0.19, 0.92);
    background: #ffffff;
    width: 0%;
    height: 4px;

}
#afpa:hover:after{
width: 6%;
margin-left: 4%;
}

#button{
    margin-top: 25px;
    margin-left: 40%;
    width: 20%;
    height: 90%;
}

#b{
    margin-bottom: 4%;
}

@media screen and (max-width: 375px){

    #affich{
        font-size: 120%;
        margin-left: 10%;
    }

    #b{
        margin-bottom: 20%;
    }
    
    #button{
        width: 90vw;
        margin-left: 10px;
    }
}