* {
    margin: 0;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
body{
    background-color: rgba(112, 112, 218, 0.461);
    font-family: fantasy;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 5s;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (max-width: 1440px) {

    /* Mon header */
    /* Ma barre de navitation */
    #afpa {
        margin-top: 1em;
        margin-left: 2em;
        text-decoration: none;
    }

    h1 {
        text-align: center;
        margin-top: 2em;
    }

    /* Applique une grille à deux colonnes avec un espacement entre les colonnes */
    form {
        margin-left: 15em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    /* Ajuste la largeur des colonnes pour le contenu */
    #inputlabelpartie1,
    #inputlabelpartie2 {
        width: fit-content;
    }

    /* Espace entre mes inputs */
    #inputlabelpartie1 {
        margin-top: -2em;
    }
    #inputlabelpartie2 {
        margin-top: -2em;
    }

    /* Centre les étiquettes et les champs d'entrée */
    label,
    input {
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    /* Applique un style uniforme aux champs d'entrée */
    input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        width: 100%;
    }

    /* Déplacement des textes à gauche des inputs */
    .labelTextePartie1 {
        margin-top: 2em;
        text-align: left;
        margin-left: -7em;
        position: relative;
        top: 3em;
    }

    .labelTextePartie2 {
        margin-top: 2em;
        margin-left: -7em;
        text-align: left;
        position: relative;
        top: 3em;
    }

    /* Mes boutons annuler et créer */

    .button {
        display: flex;
        
    }

    #creer {
        width: 15em;
        height: 80%;
        margin-left: 10em;
    }

    #annuler {
        width: 15em;
        height: 80%;
        margin-left: 5em;
    }

}

@media screen and (max-width: 375px) {
    /* Mon formulaire */
    form {
        display: flex;
        flex-direction: column;
        margin-left: 2em;
    }

    #inputlabelpartie1, #inputlabelpartie2 {
        margin-top: 1em;
    }

    label, input {
        margin-bottom: -2em;
    }
    

    input {
        margin-left: 5em;
        width: 60%;
    }

    .labelTextePartie1, .labelTextePartie2 {
        text-align: left;
        margin-left: -1em;
        position: relative;
        top: 0em;
    }

    /* Mes boutons créer et annuler */
    .button {
        display: flex;
    }

    #creer {
        margin-top: 2em;

        width: 15em;
        height: 80%;
        margin-left: 0em;
    }

    #annuler {
        width: 11em;
        height: 80%;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 2.3em;
    }
}
