@charset "ISO-8859-1";

* {
    margin: 0;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
body{
    background-color: rgba(112, 112, 218, 0.461);
    font-family: fantasy;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 5s;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.Inputlabel1, .Inputlabel2, .Inputlabel3, .Inputlabel4 {
    margin-top: 1em;
    text-align: center;
}

.Inputlabel1 {
    margin-left: -1em;
}

.Inputlabel3 {
    margin-left: -6.9em;
}

.Inputlabel4 {
    margin-left: -12em;
}

.button {
    margin-top: 1em;
    margin-left: 890px
}

@media screen and (max-width: 375px) {
        #afpa {
            margin-top: 1em;
            margin-left: 1em;
        }

        .Inputlabel1, .Inputlabel2, .Inputlabel3, .Inputlabel4 {
            display: flex;
            flex-direction: column;
            width: 80%;
        }

        .Inputlabel1 {
            margin-left: 2em;
        }

        .Inputlabel2 {
            margin-left: 2em;
        }

        .Inputlabel3 {
            margin-left: 2em;
        }

        .Inputlabel4 {
            margin-left: 2em;
        }

        .button {
            margin-left: 7em;
        }
    }

